@charset 'UTF-8';

aside{
	position:fixed;
	top:calc(50% - 125px);
	right:0px;
	width:52px;
	height:260px;
	z-index:10;
}
aside a{
	display:block;
	position:absolute;
	overflow:hidden;
	right:-89px;
	width:140px;
	height:52px;
	line-height:52px;
	color:white;
	background:rgb(49, 53, 61);
	transition:1s;
}
aside a i{
	margin-left:11px;
	margin-right:10px;
	vertical-align:middle;
}
aside .aside-icon1{
	top:0px;
	background-color:rgb(62, 163, 255);
}
aside .aside-icon2{
	top:52px;
}
aside .aside-icon3{
	top:104px;
}
aside .aside-icon4{
	top:156px;
}
aside .aside-icon5{
	top:208px;
}
aside a span{
	vertical-align:middle;
}
aside a:hover{
	right:0px;
	background-color:rgb(62, 163, 255);
}
aside .aside-icon4:hover{
	right:-89px;
	background-color:rgb(62, 163, 255);
}