@charset 'UTF-8';


#junwen{
	display:none;
}


/** section1 start**/
section .section1{
	position:relative;
	width:100%;
	height:850px;
}
section .section1 .section1-video{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:850px;
}
section .section1 .section1-skin{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:850px;
	background-color:rgba(48,38,38,0.7);
}
section .section1 .section1-skin .section-mid{
	left:0;
	max-width:1260px;
	height:500px;
	margin:175px  auto 0;
	padding:0 50px;
}
section .section1 .section1-skin .section-mid2{
	display:none;
}
section .section1 .section1-skin .section-mid .section1-text{
	width:400px;
	height:500px;
	text-align:center;
	color:#eee;
}
section .section1-text p:first-child{
	overflow:hidden;
	width:0px;
	height:0px;
	font-size:40px;
	margin-bottom:80px;
	animation:word 6s 2s forwards;
}
section .section1-text p:first-child span{
	animation:words 0.8s 8s linear infinite;
}
@keyframes word{
	0%{
		width:0px;height:60px;

	}
	50%{
		width:400px;height:60px;

	}
	100% {
		width:400px;height:120px;
	}
}
@keyframes words{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
section .section1-text p:nth-child(2){
	font-size:22px;
	margin-bottom:40px;
	margin-top:40px;
}
section .section1-text div{
	width:280px;
	height:60px;
	margin:0 auto;
	font-size:22px;
	line-height:60px;
	border:1px solid white;
	transition:0.5s;
}
section .section1-text div:hover{
	background-color:white;
	color:#ccc;
	font-weight:bold;
}
/** section1 end  **/


/** section2 start  **/
.section2{
	padding-bottom:100px;
}
.section2 .section2-content{
	max-width:990px;
	height:800px;
	margin:90px auto 0;
	text-align:center;
}
.section2 .section2-content h1{
	font-size:44px;
	margin-bottom:10px;
	font-weight:normal;
}
.section2 .section2-content p{
	font-size:18px;
	padding-top:12px;
	color:#696969;
}
.section2 .section2-content .video2{
	height:650px;
	max-width:990px;
	margin:60px 10px 0;
	background-image:url('../image/section/section2/tv.png');
	background-position: center top;
	padding-top:37px;
}
.section2 .section2-content  img{
	display:none;
}
.section2 .section2-content .video2 .video2-box{
	overflow:hidden;
	max-width:755px;
	height:410px;
	margin:0 auto;
}
.section2-content .video2 .video2-box video{
	margin-left:1px;
}
/** section2 end  **/


/** section3 start **/
.section3{
	background:#f9f9f9;
	border-top:1px solid transparent;
	padding-top:90px ;
	padding-left:45px;
	padding-right:calc(20% - 150px);
	padding-bottom:70px;
}
.section3 .sec3-content{
	width:100%;
	height:auto;
}
.section3 .sec3-content .sec3-img{
	width:53%;
	height:100%;
	margin-top:calc(-2% + 30px);
}
.section3 .sec3-content .sec3-word{
	width:calc(10% + 324px);
	margin-top:calc(10% - 60px);
}
.section3 .sec3-content .sec3-word p:first-child{
	font-size:34px;
	margin-bottom:20px;
}
.section3 .sec3-content .sec3-word p:nth-child(2){
	font-size:15px;
	color: rgb(105, 105, 105);
	letter-spacing:1px;
	line-height:24px;
}
/** section3 end **/

/** section4 start **/
.section4{
	border-top:1px solid transparent;
	padding-top:90px ;
	padding-left:calc(20% - 150px);
	padding-right:45px;
	padding-bottom:70px;
}
.section4 .sec4-content{
	width:100%;
	height:auto;
	margin:0 auto;
}
.section4 .sec4-content .sec4-img{
	width:53%;
	height:100%;
	margin-top:calc(-2% + 30px);
}
.section4 .sec4-content .sec4-word{
	width:calc(10% + 324px);
	margin-top:calc(10% - 60px);
}
.section4 .sec4-content .sec4-word p:first-child{
	color:#3EA3FF;
	font-size:34px;
	margin-bottom:20px;
}
.section4 .sec4-content .sec4-word p:nth-child(2){
	font-size:15px;
	color: rgb(105, 105, 105);
	letter-spacing:1px;
	line-height:24px;
}
.section4 a{
	display:none;
}


/** section4 end **/





/** section7 start **/
.section7{
	height:700px;
	background:#f9f9f9;
	padding-top:100px;
}
.section7 .sec7-content{
	max-width:911px;
	height:718px;
	margin:0 auto;
	text-align:center;
}
.section7 .sec7-content p:first-child{
	font-size:36px;
	letter-spacing:3px;
	line-height:80px;
}
.section7 .sec7-content p:nth-child(2){
	font-size:16px;
	color:#494949;
}
.section7 .sec7-content .sec7-box{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	max-width:918px;
	height:356px;
	margin-top:70px;
}
.section7 .sec7-content .sec7-box li{
	width:300px;
	height:170px;
	border:1px solid #ccc;
	transition:0.6s;
}
.section7 .sec7-content .sec7-box li:hover{
	background-color:white;
	border-color:blue;
}
.section7 .sec7-content .sec7-box li .sec7-img{
	position:relative;
	width:82px;
	height:70px;
	margin:33px auto 5px;
}
.section7 .sec7-content .sec7-box li .sec7-img img{
	position:absolute;
	top:0;
	left:0;
}
.section7 .sec7-content .sec7-box li .sec7-img img:nth-child(1){
	opacity:0;
	transition:0.6s;
}
.section7 .sec7-content .sec7-box li:hover .sec7-img img:nth-child(1){
	opacity:1;
}
.section7 .sec7-content .sec7-box li  p{
	width:100%;
	text-align:center;
	font-weight:bold;
}
/** section7 end **/


/** section8 start **/
.section8{
	height:150px;
	text-align:center;
	padding-top:130px;
}
.section8 p:nth-child(1){
	font-size:36px;
	line-height:74px;
}
.section8 p:nth-child(2){
	font-size:18px;
	line-height:60px;
	color: #A9A9A9;
}



/** section8 end **/


/** section9 start **/

.section9 .sec9-banner{ 
	position:relative;
	max-width:1500px;
	margin:auto;
	overflow:hidden;
}
.section9 .sec9-content{
	display:flex;
	position:relative;
	width:175%;
	height:100%;
	margin:0 auto ;
	animation:banner 15s linear infinite;
}
@keyframes banner{
	0%{
		margin-left:0;
	}
	1%{
		margin-left:-25%;
	}
	10%{
		margin-left:-25%;
	}
	15%{
		margin-left:-25%;
	}
	20%{
		margin-left:-25%;
	}
	25%{
		margin-left:-25%;
	}
	26%{
		margin-left:-50%;
	}
	35%{
		margin-left:-50%;
	}
	40%{
		margin-left:-50%;
	}
	45%{
		margin-left:-50%;
	}
	50%{
		margin-left:-50%;
	}
	51%{
		margin-left:-75%;
	}
	60%{
		margin-left:-75%;
	}
	65%{
		margin-left:-75%;
	}
	70%{
		margin-left:-75%;
	}
	75%{
		margin-left:-75%;
	}
	77%{
		margin-left:0;
	}
	85%{
		margin-left:0;
	}
	90%{
		margin-left:0;
	}
	95%{
		margin-left:0;
	}
	100%{
		margin-left:0;
	}



}
.section9 .sec9-content li{
	float:left;
	width:324px;
	height:100%;
	
	margin:0 25px;
}
.section9 .sec9-btn  a{
	position:absolute;
	font-size:22px;
	z-index:5;
}
.section9 .sec9-btn  .pre{
	top:50%;
	left:0;
}
.section9 .sec9-btn  .next{
	top:50%;
	right:0;
}






/*** section9 end **/




/** section10 start **/
.section10{
	padding:210px 50px 80px;
	background-color:#f9f9f9;
}
.section10 p:nth-child(1){
	text-align:center;
	font-size:36px;
}
.section10 p:nth-child(2){
	text-align:center;
	font-size:15px;
	color: #A9A9A9;
	line-height:80px;

}
.section10 .sec10-content{
	display:flex;
	justify-content:space-between;
	width:100%;
	height:100%;
	margin:0 auto;
}
.section10 .sec10-content li{
	max-width:469px;
	height:100%;
}
.section10 a .sec10-btn{
	width:200px;
	height:40px;
	text-align:center;
	color:white;
	font-size:16px;
	line-height:40px;
	background-color:rgb(97, 176, 255);
	border-radius:20px;
	margin:20px auto;
	transition:0.5s;
}
.section10 a .sec10-btn:hover{
	background-color:#3366ff;
}
/** section10 end **/



/** section11 start**/
.section11{
	height:960px;
	background-image:url('../image/section/section11/pic1.jpg');
	padding:0 10px;
}
.section11 p{
	max-width:930px;
	text-align:center;
	margin:0 auto;
	color:white;
}
.section11 p:nth-child(1){
	font-size:36px;
	padding-top:100px;
	line-height:80px;
}
.section11 p:nth-child(3){
	font-size:15px;
}
.section11 span{
	display:block;
	width:60px;
	height:35px;
	margin:0 auto;
	border-top:2px solid white;
}
.section11 .sec11-img{
	max-width:930px;
	height:490px;
	margin:70px auto 0;
}
/** section11 end**/


/** section12 start**/
.section12{
	height:440px;
	padding:150px 20px 0;
	background-color:#f9f9f9;
}
.section12 .text{
	font-size:36px;
	margin:0 auto;
	text-align:center;
}
.section12 .sec12-content{
	display:flex;
	justify-content:space-between;
	max-width:1190px;
	margin:50px auto;
}
.section12 .sec12-content li{
	width:270px;
	height:207px;
	border:1px solid #ccc;
	margin:0 5px;
	padding:0 10px;
	transition: 0.6s border,0.6s background ;
}
.section12 .sec12-content li:hover{
	background-color:white;
	border-color:skyblue;
}
.section12 .sec12-content li img{
	display:block;
	max-width:220px;
	height:66px;
	margin:33px auto 30px;
}
.section12 .sec12-content li p:nth-child(2){
	text-align:center;
	font-size:18px;
	color:#696969;
}
.section12 .sec12-content li p:nth-child(3){
	text-align:center;
	font-size:16px;
	color:#696969;
}
/** section12 end **/



/** section13 start **/
.section13{
	height:600px;
	padding:130px 70px 0;
}
.section13 .sec13-title{
	display:block;
	max-width:1170px;
	border-bottom:1px solid #ccc;
	margin:0 auto;
	font-size:36px;
	text-align:center;
	line-height:70px;
}
.section13  .sec13-wo{
	text-align:center;
	font-size:16px;
	color:#696969;
}
.section13  .sec13-content{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	max-width:1100px;
	margin:30px auto 0;
}
.section13  .sec13-content li{
	width:23.6%;
	height:200px;
	

}
.section13  .sec13-content li img{
	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%); 
	-ms-filter: grayscale(100%); 
	-o-filter: grayscale(100%); 
	filter: grayscale(100%);  
	transition:1s;
	
}
.section13  .sec13-content li img:hover{
	-webkit-filter: grayscale(0%); 
	-moz-filter: grayscale(0%); 
	-ms-filter: grayscale(0%); 
	-o-filter: grayscale(0%); 
	filter: grayscale(0%);  
}

/** section13 end**/



/** section14  start**/
.section14{
	position:relative;
	overflow:hidden;
	max-width:1200px;
	height:300px;
	margin:0 auto;
	padding:0 20px;
}
.section14  .sec14-banner{
	display:flex;
	width:300%;
	height:100%;
	margin:60px auto 0;
	animation:aaa 15s infinite linear;
}
@keyframes aaa {
	0%{margin-left:0%;}
	2%{margin-left:-100%;}
	20%{margin-left:-100%;}
	30%{margin-left:-100%;}
	40%{margin-left:-100%;}
	42%{margin-left:-200%;}
	60%{margin-left:-200%;}
	70%{margin-left:-200%;}
	80%{margin-left:-200%;}
	94%{margin-left:0%;}
	100%{margin-left:0%;}
}
.section14  .sec14-banner .btn{
	position:absolute;
	top:50%;
	width:30px;
	height:30px;
	background-color:#ccc;
	background-image:url(../image/section/section13/rs-default.png);
}
.section14  .sec14-banner .prve{
	left:0;
	background-position:131px 100px;
}
.section14  .sec14-banner .next{
	right:0;
	background-position:131px 70px;
}
.section14  .sec14-banner .sec14-haha{
	display:flex;
	max-width:1200px;
}
.section14  .sec14-banner .sec14-haha div{
	width:25%;
}
.section14  .sec14-banner .sec14-haha div img{
	display:block;
	margin:60px auto;
}
.section14  .sec14-banner .sec14-haha p{
	display:block;
	width:65%;
	margin:60px auto;
	font-size:13px;
	color:#696969;
	line-height:25px;
}
.section14  .sec14-banner .sec14-haha p span{
	display:block;
	width:100%;
	font-size:18px;
	color:black;
	text-align:right;
}

/** section14 end**/


